canvas {
    border: 1px solid black;
    background: rgb(1, 2, 5);
}

body {
    margin: 0; /*overrides preset borwser property so there is no margin for the container*/
    overflow: hidden; /*prevents use of scrollbar*/
}


.paramBtn {
    position: absolute; /*absolute positioning to allow objects inside canvas container*/
    background: rgba(170, 209, 231, 0.212);
    right: 10px;
    width: 90px;
    height: 80px;
 
}

#clearBtn {
    top:600px;
}
#timeBtn {
    top:500px;
}
#physicsBtn {
    top:400px;
}
#objectBotBtn {
    top:300px;
}
#objectTopBtn {
    top:220px;
}

/*parameter child popups*/
.paramChildBtn{
    position: absolute;
    background-color: rgba(44, 47, 51, 0.8);
    display: none;
    border: 5px solid rgb(26, 26, 163, 0.8);
    border-radius: 5px;
    right: 110px;
    top: 200px;
    height: 200px;
    width: 210px;
}


#objectTopChild {
    height: 110px;
    top: 179px;
}

.switch {
    position: relative;
    display: inline-block;/*like inlineblock but width and height can be set */
    width: 38px;
    height: 23px;
}  
.switch input {/*resetting default styles*/
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer; /*changes appearance of cursor upon hover*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(179, 179, 182);
    transition: .15s;/*transition effect for the slider toggle*/
    /*transition lasts 0.15 seconds*/
}
.slider:before {/*:before inserts before the content of the slider element*/ /*pseudoelement*/
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .15s;
}
input:checked + .slider {
    background-color: rgb(26, 26, 163);
}
input:checked + .slider:before {
    transform: translateX(15px);
}
.slider.round {
    border-radius: 15px;
}
.slider.round:before {
    border-radius: 45%;
}



#objectBotChild {
    height: 170px;
    top: 300px;
}
#physicsChild {
    height: 150px;
    top: 400px;
}
#timeChild {
    height: 130px;
    top: 500px;
}


/*Line divider */
#objTypeLine {
    background: rgb(54, 136, 184, 0.6);
    border-radius: 100px;
    position: absolute;
    height: 5px;
    width: 550px;
    right: 45px;
    top: 80px;
}

.objType {
    position: absolute;
    background: rgba(90, 179, 179, 0.8);
    border-radius: 15px;
    width: 60px;
    height: 50px;
    top: 18px;
}
#planetBtn {
    right: 500px;
}
#starBtn {
    right: 400px;
}
#asteroidBtn {
    right: 300px;
}
#temp2Btn {
    right: 200px;
}
#temp3Btn {
    right: 100px;
}

.zoom {
    position: absolute;
    background: rgba(125, 212, 169, 0.9);
    border-radius: 18px;
    left: 35px;
    width: 50px;
    height: 50px;
}
#zoomOutBtn {
    top: 620px;
}
#zoomInBtn {
    top: 675px;
}
